
#drawer-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: transparent !important;
  #left_panel{
    height: 100%;
    flex: 1;

  }
  #right_panel {

    padding-left: 4px;
    height: 100%;
    position: relative;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    transition:  transform 0.3s ease, width 0.3s ease;
    width: 0;
    flex: 0 0 0;
    //background: var(--surface-0) !important;
    background: transparent !important;
    .p-sidebar-header{
      justify-content: space-between;
    }

    .action-close{
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .dataform-header {
     padding:15px;
    }
    .dataform{
      .dataform-header{
        display: none;
      }

    }
    .resizer {

      background-color: transparent;
      position: absolute;
      left: 0;
      width: 3px;
      height: 100%;
      cursor: ew-resize;

      &:hover, &:focus{
        background-color:  transparent;
      }
    }

  }


  .show-panel{
    transform: translateX(0%);
  }
  .hide-panel{
    //flex: 0 0 0 !important;
    //width: 0 !important;
    transform: translateX(100%);

  }
}
