.window-crud{
    .two-column-form-left{

        height: calc(100vh - 210px) !important;

    }
    .two-column-form-right{
        height: auto;
        max-height: calc(100vh - 210px) !important;

    }

    .offcanvas-template .crud-page {
        height: calc(100vh - 110px) !important;
    }
}
