.window-crud, .krud-drawer{
    .two-column-form-left{

        height: calc(100vh - 210px) !important;

    }
    .two-column-form-right{
        height: auto;
        max-height: calc(100vh - 210px) !important;

    }

    .offcanvas-template .crud-page {
        height: calc(100vh - 110px) !important;
    }
    .ant-drawer-content{
        background: #fff;
        border-radius: 0.375rem;
    }
}
.dark{
    .ant-drawer-content{
        .window-crud {
            background: #1a1a2b;
        }
    }

}
