.v-select .form-control {
    position: absolute;
    top: 0;
    width: 100% !important;
}

.ant-select, .ant-select-single  {
    width: 100% !important;
}
.register-field{
    .ant-select-single  {
        width: 60px !important;
    }
}
.addable-select{
    width: calc(100% - 32px) !important;
}
.with-info-caller{
    width: calc(100% - 32px) !important;
}
.addable-select.with-info-caller{
    width: calc(100% - 64px) !important;
}
.info-caller{
    width: 24px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    /*padding-top: 2px;*/
    padding-left: 2px;
    right: 5px;
}
