//@import 'ag-grid-community/src/styles/ag-theme-balham/sass/legacy/ag-theme-balham-v22-compat';
@import 'ag-grid-community/styles/ag-theme-balham';
.ag-theme-balham .ag-root-wrapper {
    border:none !important;
}
.ag-theme-balham  {
    --ag-header-background-color:transparent !important;
    .ag-header {


        //border-bottom: solid 1px;
        //border-bottom-color: #BDC3C7;
        //border-bottom-color: var(--ag-border-color, #BDC3C7);


    }
    .ag-row{
        border-top: none;
        border-left: none;
        border-right: none;
    }
}
