.dark{
    .dataform {

        &-body {

            .fieldset {

                legend {
                    width: auto !important;
                    background: #00152a;
                    font-size: 12px;
                    padding: 0 10px;
                    display: table;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }

        }

        .ant-select-selector, .ant-upload.ant-upload-select-picture-card{
            background-color: transparent !important;
            border: 1px solid #2d3d57 !important;
        }
        .subform-grid table, .subform-grid table thead, .subform-grid table, .subform-grid table thead{
            background-color: transparent !important;
        }
        .subform-grid table thead th, .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
            color: rgba(255, 255, 255, 0.85) !important;
        }
        .subform-grid table thead td{
            .ant-select-selector{
                 border: 1px solid transparent !important;
            }
        }
        .ant-select:last-child{
            border-right-width: 0 !important;
        }
        .ant-form-item-with-help .ant-form-item-explain {
            height: auto;
            min-height: 24px;
            opacity: 1;
        }



    }
    @import "geographic_dark";
}
